@model TodoList.Models.Goal
 
<h2>Нове завдання</h2>
<form asp-action="create" asp-controller="goal">
    <p>
        <label asp-for="Name">Назва</label><br />
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <label asp-for="Time">Термін виконання</label><br />
        <input type="datetime-local" asp-for="Time" />
    </p>
    <p> 
        <select asp-for="TypeId">
            <option value="">Оберіть категорію</option>
            <option value="1">Без категорії</option>
            <option value="2">Роботи по дому</option>
            <option value="3">Спорт</option>
            <option value="4">Робота</option>
        </select>
    </p>
    <p>
        <label asp-for="Description">Опис</label><br />
        <input type="text" asp-for="Description" />
    </p>
    <p>
        <input type="submit" value="Прийняти" />
    </p>
</form>