@model TodoList.DAL.Entities.Goal

@{
    ViewData["Title"] = "Product";
}

<h1>Товар @Model.Name</h1>
Категория: @Model.Type?.Name <br />
Описание товара: @Model.Description<br />
Цена товара: @Model.Time<br />


