@model TodoList.DAL.Entities.Goal

@{
    ViewData["Title"] = "Goal";
}

<h1>Завдання @Model.Name</h1>
Категорія: @Model.Type?.Name <br />
Описание завдання: @Model.Description<br />
Термін виконнання: @Model.Time<br />
Статус: @if(Model.Status == true)
{
        <text>Виконано</text>
}else{
    <text>Ще не виконано</text>
}


