@model TodoList.Models.User
 
<h2>Редактирование продукта</h2>
<form asp-action="AddMoney" asp-controller="home" asp-route-id="@Model.Id">
    <p>
        <label asp-for="Account">Сумма пополнения</label><br />
        <input type="text" asp-for="Account" />
    </p>
    <p>
        <input type="submit" value="Пополнить" />
    </p>
</form>
