@model TodoList.Models.Product
 
<h2>Добавление продукта</h2>
<form asp-action="create" asp-controller="Product">
    <p>
        <label asp-for="Name">Имя</label><br />
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <label asp-for="Price">Цена</label><br />
        <input type="text" asp-for="Price" />
    </p>
    <p> 
        <select asp-for="TypeId">
            <option value="">Виберите категорию</option>
            <option value="1">Напитки</option>
            <option value="2">Молочные продукты</option>
            <option value="3">Мясо</option>
            <option value="4">Фрукты</option>
        </select>
    </p>
    <p>
        <label asp-for="Description">Описание</label><br />
        <input type="text" asp-for="Description" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>